/* barra de navegacion */

.navbar {
  padding: 2rem;
  background-color: #e63946;
  width: 100%;
  min-height: 100px;
  font-size: larger; 

}
a.nav-link {
    color: white;
    
}

a.nav-link:hover {
    color: #1d3557
}

.navbar-collapse {
  align-items: center;
  justify-content: space-between;
}

/* Estilos Generales */
section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.seccion-oscura{
    color : white;
    background-color:#1d3557;
    font-weight: 100;
}
.seccion-clara{
    color: black;
    background-color: #f1faee;
    font-weight: 100;
}

h1 {
    font-size: 2.5rem;
    color: #1d3557;
    font-family: "Lexend Deca", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
}

h2 {
    font-size: 2rem;
    color: #457b9d;
    font-family: "Alumni Sans Pinstripe", sans-serif;
    font-style: normal;
    font-weight: 900;
}

p {
    font-size: 1rem;
    font-family: sans-serif;
    font-style: normal;
    font-weight: 100;
}

.containet a {
    text-align: center;
    padding: 10px;
}



/* Seccion Principal */
.principal {
    background-attachment: black;
    text-align: center;
    
}
.principal .contenedor {
    position: relative;
    display: inline-block;
    text-align: center;
}
.principal .centrado {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.video-princial {
    width: 100%;
    max-height: fit-content;
    filter:grayscale(100%);
    opacity: 0.4;
}

/* Seccion Yo */
.yo .contenedor {
    max-width: 600px;
    text-align: center;
    padding: 100px;
}    

.imagen-perfil {
    width: 200px;
    height: 200px;
}

/* Seccion Proyectos */
.proyectos {
    padding: 50px;
    min-height: 500px;
}

.proyectos .contenedor .col{
    border: #001524;
    border: 1px solid;
    transition: all 0.2s ease-in;
}
.proyectos .columna:hover {
    background-color: #1d3557;
    color: white;
}

.proyectos-titulo {
    font-size: 25px;
    font-weight: bold;
    margin: 10px 0px;
}

.proyectos i {
    font-size: 3rem;

}

.badge-contenedor {
    margin: 10px 0;
    
}

.badge {
    margin: 5px;
    background-color: #e63946;
    
}

/* Contacto */

.contacto .contenedor{
    width: 90%;
    align-items: center;
    justify-content: center;
    padding: 50px;
}

.contacto button {
    background-color: #e63946;
    border: #001524;
    border: 1px;
}

/* Pie de Pagina */
footer {
    min-height: 500px;   
}

footer .contenedor{
    display: flexbox;
    flex-direction: column;
    justify-items: center;
    padding: 10px;
    
}
.footer-logo {
    height: 80px;
    width: 80px;
    margin: 10px;
}
.footer-texto {
    font-size: 1.5rem;
    padding: 20px;
    margin-bottom: 30px;
    
}
.iconos-redes-sociales a {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px;
    margin: 10px;
    border: 2px solid #e63946;
    border-radius: 50%;

}

.iconos-redes-sociales i {
    color: #e63946;
}

.iconos-redes-sociales a:hover {
    background-color: white;
}
.iconos-redes-sociales a:hover i {
    color:black;
}

audio {
    padding: 10px;
}

/* Adaptable Responsivo */

@media screen and (max-width: 767px) {
    .navbar-brand {
        display: none;

    }
    
    .principal .contenedor {
        position:static;
        margin: 10px;
    }   
    
    .principal .centrado{
        position: static;
        transform: translate(0%);
    }
    .video-princial {
        display: none;
    
    }
    

    
}

